* {
  background-color: lightgray;
  margin: 0;
}

.header {
  background-color: black;
  color: rgb(48, 252, 2);
  text-align: center;
  padding: 30px;
}

.header h1 {
  font-size: 2rem;
}

.navigation {
  background-color: black;
  
}
.nav-link {
  background-color: black;
  color: rgb(48, 252, 2);
}

.nav-link:hover {
  color: hotpink;
}

.container {
  border: 2px solid hotpink;
  background-color: brown;
}

.song-input {
  border: 2px solid rgb(48, 252, 2);
  text-align: center;
  margin: 20px;
}
.song-input h3 {
  background-color: rgb(48, 252, 2);
}

.input-form {
  background-color:rgb(48, 252, 2);
  width: auto;
  padding: 10px;
}

.input {
  margin: 5px;
}

.add-song {
  border-radius: 100%;
  height: 50px;
  background-color: hotpink;
}

.song-list {
  border: 2px solid rgb(48, 252, 2);
  margin: 20px;
}
.table{
  width: 100%;
}

.table th {
  background-color: rgb(48, 252, 2);
  width: 20%;
  text-align: left;
  margin-left: 5px;
}

.footer {
  background-color: black;
  color: rgb(48, 252, 2);
  text-align: center;
  padding: 5px;
  width: 100%;
  position: fixed;
  bottom: 0;
}